{%- macro format_event_date(event) -%}
    {% set start_dt = event.start_dt_display.astimezone(event.display_tzinfo) %}
    {% set end_dt = event.end_dt_display.astimezone(event.display_tzinfo) %}
    {% if start_dt.date() == end_dt.date() %}
        {{ start_dt | format_date('MMMM d, yyyy') }}
    {% elif start_dt.year == end_dt.year and start_dt.month == end_dt.month %}
        {{ start_dt | format_date('MMMM d') }} - {{ end_dt.day }}, {{ start_dt.year }}
    {% elif start_dt.year == end_dt.year %}
         {{start_dt | format_date('MMMM d') }} - {{ end_dt | format_date('MMMM d') }}, {{ start_dt.year }}
    {% else %}
        {{ start_dt | format_date('MMMM d, yyyy') }} - {{ end_dt | format_date('MMMM d, yyyy') }}
    {% endif %}
{%- endmacro -%}
